<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="inset" *ngFor="let item of items | async">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          <h2>{{item.createdAt.toDate() | date:'dd MMMM yyyy'}}</h2>
        </ion-col>
        <ion-col size="2">
          <ion-button color="danger" (click)="deleteItem(item)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-chip outline color="warning">
            <ion-icon name="time"></ion-icon>
            <ion-label>{{item.hours}} worked</ion-label>
          </ion-chip>
          <ion-chip outline color="primary">
            <ion-icon name="car"></ion-icon>
            <ion-label>{{item.kms}}kms driven</ion-label>
          </ion-chip>
          <ion-chip outline color="success">
            <ion-icon name="cash"></ion-icon>
            <ion-label>${{item.totalEarnings}} earnings</ion-label>
          </ion-chip>
          <ion-chip outline color="danger">
            <ion-icon name="remove"></ion-icon>
            <ion-label>${{item.totalExpenses}} expenses</ion-label>
          </ion-chip>
          <ion-chip outline color="secondary">
            <ion-icon name="logo-usd"></ion-icon>
            <ion-label>${{item.profit}} profit</ion-label>
          </ion-chip>
          <ion-chip outline color="tertiary">
            <ion-icon name="hourglass"></ion-icon>
            <ion-label>${{item.avgEarnings}} per hour</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

</ion-content>
