<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item *ngFor="let user of user | async">
    <ion-avatar>
      <img [src]="user.photoURL || 'assets/avatar.png'">
    </ion-avatar>
  </ion-item>

  <ion-button (click)="uploadPicture.openImagePicker()" color="secondary" expand="full">Upload a Picture</ion-button>

  <ion-list>

    <ion-item *ngFor="let user of user | async">
      <ion-item (click)="updateName()">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="myClass1 ion-text-start">Name</ion-label>
            </ion-col>          
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="myClass2 ion-text-start">{{user?.firstName}} {{user?.lastName}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-icon class="icon" name="create"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item>

    <ion-item *ngFor="let user of user | async">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="myClass1 ion-text-start">Email</ion-label>
            </ion-col>          
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="myClass2 ion-text-start">{{user.email}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item>

    <ion-item (click)="updatePassword()">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <ion-icon class="icon" name="create"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-label class="myClass3 ion-text-start">Edit Password</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngFor="let user of user | async">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="myClass1 ion-text-start">Car</ion-label>
            </ion-col>          
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="myClass2 ion-text-wrap ion-text-start">{{user.carMake}}</ion-label>
              <form [formGroup]="carMakeForm">
                <ion-item (click)="getCarMake()">
                  <ion-select class="myClass" formControlName="carMake" placeholder="Car Make">
                    <ion-select-option *ngFor="let make of carMake | async">
                      <p>{{make.carMake}}</p>
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </form>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-label class="myClass2 ion-text-wrap ion-text-start">{{user.carModel}}</ion-label>
              <form [formGroup]="carModelForm">
                <ion-item (click)="getCarModel()">
                  <ion-select class="myClass" formControlName="carModel" placeholder="Model">
                    <ion-select-option *ngFor="let model of carModel | async">
                      <p>{{model.name}}</p>
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </form>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-label class="myClass2 ion-text-wrap ion-text-start">{{user.carYear}}</ion-label>
              <form [formGroup]="carYearForm">
                <ion-item (click)="getYear()">
                  <ion-select class="myClass" formControlName="carYear" placeholder="Year">
                    <ion-select-option *ngFor="let year of carYear | async">
                      <p>{{year.carYear}}</p>
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </form>
            </ion-col>
          </ion-row>
          
          <ion-button [disabled]="!carMakeForm.valid || !carModelForm.valid || !carYearForm.valid" shape="round" color="success" (click)="updateCar()">Update</ion-button>
          <ion-button shape="round" color="danger" (click)="cleanForm()">Reset</ion-button>

        </ion-grid>
      </ion-item>
    </ion-item>

  </ion-list>

</ion-content>
