<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="logo">
    <img class="logo" src="assets/logo.png">
  </div>

  <form [formGroup]="signUpForm">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Your email address</ion-label>
        <ion-input type="email" name="email" formControlName="email" placeholder="email@domain.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Create a password</ion-label>
        <ion-input type="password" name="password" formControlName="password" placeholder="minimum 6 characters"></ion-input>
      </ion-item>
      <div class="ion-padding-top">
        <ion-button [disabled]="!signUpForm.valid" type="submit" color="success" expand="block" (click)="submit()" >Register</ion-button>
      </div>
    </ion-list>
  </form>
</ion-content>
